/* General Layout and typography */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    font-family: "League Spartan", sans-serif;
    color: #FBFEFE;
}

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/sunset_sml.png) center/cover fixed;
    background-color: #2E3A69;
}

.content {
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Typography */
h1,
p,
h2,
figcaption {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

.arrow-icon {
    width: 40px;
    filter: invert(1);
    position: fixed;
    bottom: 10vh;
    cursor: pointer;
}

/* Social Media Contacts */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.social-media a:first-child {
    margin-left: 0;
}

.social-media a:last-child {
    margin-right: 0;
}

.social-media a img:first-child {
    margin-left: 0;
}

.social-media a img:last-child {
    margin-right: 0;
}


.social-link,
.social-img {
    cursor: pointer;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 1em;
}

.social-img {
    object-fit: cover;
    filter: invert(1) brightness(2);
}

/* Navigation Bar */
.navigation-bar {
    margin: 2em auto 0;
}

.nav-links,
.link-button {
    padding: 0.9em;
    font-size: 1.25rem;
    text-underline-offset: 5px;
    color: #FBFEFE;
    text-decoration: none;
}

.nav-links:hover {
    cursor: pointer;
}

/* Home Styling */
.home-container>h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.75rem;
    text-decoration: underline;
    text-underline-offset: 7.5px;
}

.home-container>p {
    font-size: 1.1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto 2.5em;
    font-weight: 500;
}

/* About Styling */
.strong-text {
    font-weight: bold;
}

.about-container {
    width: 70%;
    margin: 0.5em auto;
    height: 60vh;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2em;
}

/* Download Section */
.download-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-cv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-cv,
.download-cv img {
    width: 35px;
    margin-bottom: 0.75em;
    color: #F5E3E0;
    text-decoration: none;
}

.download-cv>img {
    filter: invert(1);
}

.download-cv>img:hover {
    animation: jump 0.5s ease-in-out forwards;
}

figcaption {
    line-height: 1.15;
}

/* Works */
.works-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.project-element {
    width: 100%;
    max-width: 250px;
    margin-bottom: 4em;
    text-align: center;
    padding-bottom: 1em;
}

.project-element:last-child,
.works-container:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.project-element:first-child,
.works-container:first-child {
    margin-top: 0;
    padding-top: 0;
}

.project-element>h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25em;
    font-weight: 800;
    text-decoration: underline;
    text-underline-offset: 5px
}

.project-img,
.project-link {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #FBFEFE;
    color: #2E3A69;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.project-img:hover,
.project-link:hover {
    animation: jump 0.5s ease-in-out forwards;
}

/* Not Found */
.not-found-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-button {
    text-decoration: underline;
}

.not-found {
    width: 60px;
    margin-bottom: 1em;
    filter: invert(1);
}

/* Footer */
footer {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer>p {
    margin-left: 1em;
}

/* Media Queries */
@media only screen and (min-width: 750px) {
    #root {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/sunset_lg.png);
    }

    .home-container>p,
    .link-button,
    .about-container,
    .not-found-container,
    .nav-links {
        font-size: 1.75rem;
    }

    .home-container>h1 {
        font-size: 2.5rem;
    }

    .project-element>h2 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-underline-offset: 7.5px;
    }

    .download-cv,
    .download-cv img {
        width: 50px;
    }

    .social-img:hover {
        animation: jump 0.5s ease-in-out forwards;
    }

    .social-media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50vh;
        left: 10vw;
        transform: translate(-50%, -50%);
    }

    .social-link,
    .social-img {
        width: 50px;
        display: block;
        object-fit: cover;
        margin: 0;
    }

    .social-link {
        margin-bottom: 2.5em;
    }

    .home-container>h1 {
        font-size: 2.5rem;
    }

    .home-container>p {
        font-size: 1.5rem;
        width: 60%;
    }
}

.about-container,
.works-container {
    padding: 0 2em;
}

.project-element {
    max-width: 450px;
}

.arrow-icon {
    width: 55px;
}

footer {
    font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {

    .social-link,
    .social-img {
        width: 60px;
    }

    .works-container {
        gap: 50px;
        padding: 50px;
        width: 100%;
    }

    .project-element {
        max-width: 550px;
        margin-bottom: 3em;
    }

    .project-img {
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
    }

    .project-link {
        margin: 1em auto;
        padding: 0.5em 1em;
    }

    .project-link:hover,
    project-image:hover {
        background-color: #E0E0E0;
        transform: scale(1.1);
    }

    .project-element>h2 {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .content {
        width: 90vw;
        max-width: 1400px;
    }
}

@media print {
    * {
        background-image: none !important;
        color: black !important;
        text-shadow: none !important;
    }

    .home-container>h1,
    .home-container>p,
    .nav-links {
        color: black !important;
    }

    .social-img,
    .download-cv>img {
        filter: invert(0) brightness(3);
    }
}

/* Keyframes */
@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7.5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-in {
    animation: fadeIn 0.75s forwards;
}

.fade-out {
    animation: fadeOut 0.75s backwards;
}

/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #928994 #FBFEFE;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #FBFEFE;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #928994;
    border-radius: 5px;
    border: 1px solid #FBFEFE;
}